Considere el archivo SolicitudesDiarias.csv, en el cual se encuentran la cantidad de solicitudes 
diarias hechas en una institución de financiera por clientes. El equipo de mercadeo a partir del 
primero de febrero de 2022 implementó una campaña que buscaba aumentar la cantidad de 
solicitudes diarias realizadas por los clientes, además de que el primero de junio de 2022 lanzó 
una modificación a la campaña que tenia el mismo fin (aumentar la cantidad de solicitudes 
diarias).  ¿Será  que  las  campañas  impartidas  por  el  equipo  de  mercadeo  tuvieron  el  efecto 
esperado?  Obtenga  los  intervalos  de  confianza  al  95%  que  considere  para  determinar  si 
efectivamente el promedio diario de solicitudes aumentó con las campañas que lanzó el equipo 
de mercadeo. ¿Qué puede concluir al respecto?¿Qué campaña fue más efectiva?

In [1]:
import pandas as pd
from scipy import stats

In [2]:
df = pd.read_csv("data/SolicitudesDiarias.csv")
print(df.shape)
df.head()

(335, 2)

        Fecha  Solicitudes
0  2021-10-01         29.0
1  2021-10-02         21.0
2  2021-10-03         26.0
3  2021-10-04         31.0
4  2021-10-05         25.0

In [3]:
df_antes = df[df["Fecha"]<"2022-02-01"]
print(df_antes.shape)
display(df_antes.head())
mean_antes = df_antes["Solicitudes"].mean()
mean_antes

(123, 2)

        Fecha  Solicitudes
0  2021-10-01         29.0
1  2021-10-02         21.0
2  2021-10-03         26.0
3  2021-10-04         31.0
4  2021-10-05         25.0

20.585365853658537

In [4]:
df_despues = df[df["Fecha"]>="2022-02-01"]
print(df_despues.shape)
display(df_despues.head())
mean_despues = df_despues["Solicitudes"].mean()
mean_despues

(212, 2)

          Fecha  Solicitudes
123  2022-02-01         32.0
124  2022-02-02         18.0
125  2022-02-03         28.0
126  2022-02-04         23.0
127  2022-02-05         21.0

34.367924528301884

In [5]:
data1 = df_antes["Solicitudes"].to_numpy()
data2 = df_despues["Solicitudes"].to_numpy()
print(len(data1),len(data2))

123 212

In [6]:
t_stat, p_value = stats.ttest_ind(data2, data1, equal_var=False, alternative='greater')

# Nivel de significancia
alpha = 0.05

# Compara el valor p con el nivel de significancia
if p_value < alpha:
    print("Se rechaza la hipótesis nula.")
    print("La media de data2 es mayor que la de data1.")
else:
    print("No se puede rechazar la hipótesis nula.")
    print("No hay suficiente evidencia para concluir que la media de data2 es mayor que la de data1.")

print("Estadística t:", t_stat)
print("Valor p:", p_value)

Se rechaza la hipótesis nula.
La media de data2 es mayor que la de data1.
Estadística t: 10.251468090994257
Valor p: 7.607606143979196e-22